<div class="box">
  <div class="left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <div class="right">
    <img
      [src]="recipe.imgPath"
      alt="{{ recipe.name }}">
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Manage Recipe</button>
  <div class="dropdown-content">
    <a href="#">To Shopping List</a>
    <a href="#">Edit Recipe</a>
    <a href="#">Delete Recipe</a>
  </div>
</div>
